@media screen and (max-width: 768px) {
  .container .header .header_image img {
    width: 130px;
    height: 130px;
  }
  .container .header .header_name {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .container .header .header_name h3 {
    font-size: 30px;
  }
  .content .introduce .introduce_item {
    width: 50%;
    padding: 7px;
    font-size: 12x;
  }
  .content .introduce .introduce_item i {
    font-size: 15px;
    margin-right: 10px;
  }
  .content .information {
    font-size: 15px;
  }
  .content .information .skill div .point_skill{
    height: 8px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
  .container .header {
    display: block;
    border-bottom: 2px solid var(--header-color);
  }
  .container .header .header_image img {
    width: 110px;
    height:110px;
  }
  .container .header .header_name {
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 2%;
  }
  .container .header .header_name h3 {
    font-size: 20px;
  }
  .content .introduce {
    border-bottom: 2px solid var(--header-color);
  }
  .content .introduce .introduce_item {
    width: 50%;
    padding: 7px;
    font-size: 10px;
  }
  .content .introduce .introduce_item i {
    font-size: 13px;
    margin-right: 7px;
  }
  .content .information {
    font-size: 11px;
  }
  .content .information .text p {
    margin-bottom: 6px;
  }
  .content .information .skill div .point_skill{
    height: 6px;
  }
  .content .information .information_item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .content {
    padding: 0 2%;
  }
  .container .header .header_image img {
    width: 90px;
    height: 90px;
  }
  .container .header .header_name {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .container .header .header_name h3 {
    font-size: 17px;
  }
  .content .introduce .introduce_item {
    width: 50%;
    padding: 7px;
    font-size: 10px;
  }
  .content .introduce .introduce_item i {
    font-size: 10px;
    margin-right: 5px;
  }
  .content .information {
    font-size: 9px;
  }
  .content .information .text p {
    margin-bottom: 4px;
  }
}
