@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
:root {
  --header-background: #ffd23f;
  --header-color: #353434;
  --border-color: #f0f0f0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 10%;
}

.container .header {
  width: 100%;
  padding: 3% 0;
  background-color: var(--header-background);
  display: flex;
  border-bottom: 3px solid var(--header-color);
  color: var(--header-color);
}

.container .header .header_image {
  flex: 3;
  text-align: center;
}

.container .header .header_image img {
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 2px solid white;
}

.container .header .header_name {
  flex: 9;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
}
.container .header .header_name h3 {
  font-size: 45px;
  margin-bottom: 3%;
}
.content {
  width: 100%;
  
}
.content .introduce {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid var(--header-color);
  color: var(--header-color);
}
.content .introduce .introduce_item {
  width: 33.33333%;
  padding: 15px;
}
.content .introduce .introduce_item i {
  font-size: 20px;
  margin-right: 10px;
}
.content .information {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}
.content .information .information_item {
  width: 50%;
  padding: 2% 3%;
}
.content .information .information_item h3 {

  text-transform: uppercase;
  margin-bottom: 15px;
}
.content .information .information_item div{
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.content .information .skill div .point_skill{
  margin-top: 5px;
  width: 100%;
  height: 10px;
  border: 1px solid var(--border-color);
}
.content .information .skill div .point_skill span{
  width: 40%;
  height: 100%;
  background-color: var(--header-background);
}
.content .information .text p{
  margin-bottom: 10px;
}
.content .information .interests ul{
  display: flex;
  flex-wrap: wrap;
}
.content .information .interests ul li {
  width: 50%;
  list-style: none;
  margin-bottom: 10px;
}
.content .information .products ul li {
  margin-bottom: 10px;
  list-style: none;
}